/nodes*
/store
/resources/.vagrant
/resources/Vagrantfile
/resources/docker/docker-compose.yml
/resources/docker/control/jepsen

/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
.DS_Store
.idea/
couchbase.iml
couchbase-server*.*