# File extentions
*.class
*.deb
*.dot
*.log
*.rpm
*.svg
*.txt

# Files
.DS_Store
.eastwood
.lein-*
couchbase.iml
nodes
pom.xml
pom.xml.asc
resources/.vagrant
resources/Vagrantfile
resources/docker/control/jepsen
resources/docker/docker-compose.yml
resources/my.key
resources/my.key.pub

# Directories
.idea/
checkouts/
classes/
resources/dumps
store/
target/